## [Start] Setting "oculto" to default value of "false". **
$util.qr($context.args.input.put("oculto", $util.defaultIfNull($ctx.args.input.oculto, false)))
## [End] Setting "oculto" to default value of "false". **
{}