## [Start] Setting "activo" to default value of "true". **
$util.qr($context.args.input.put("activo", $util.defaultIfNull($ctx.args.input.activo, true)))
## [End] Setting "activo" to default value of "true". **
{}