## [Start] Setting "activo" to default value of "false". **
$util.qr($context.args.input.put("activo", $util.defaultIfNull($ctx.args.input.activo, false)))
## [End] Setting "activo" to default value of "false". **
## [Start] Setting "diaEnvio" to default value of "1". **
$util.qr($context.args.input.put("diaEnvio", $util.defaultIfNull($ctx.args.input.diaEnvio, 1)))
## [End] Setting "diaEnvio" to default value of "1". **
{}