## [Start] Setting "activo" to default value of "false". **
$util.qr($context.args.input.put("activo", $util.defaultIfNull($ctx.args.input.activo, false)))
## [End] Setting "activo" to default value of "false". **
{}